/*==============================Horizontal Timeline========================================================================*/

.cd-horizontal-timeline .horizontal-timeline {
    position: relative;
    height: 75px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px;
}
.cd-horizontal-timeline .events {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 66%;
    height: 2px;
    background: lightgrey;
    transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ab0d25;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    padding-bottom: 15px;
    color: #ab0d25;
    transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: -6px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid lightgrey;
    background-color: #f8f8f8;
    transition: background-color 0.3s, border-color 0.3s;
}
.cd-horizontal-timeline .events a.selected {
    pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
    background-color: #ab0d25;
    border-color: #ab0d25;
}
.cd-horizontal-timeline .events a.older-event::after {
    border-color: #ab0d25;
}
.cd-timeline-navigation a {
    position: absolute;
    z-index: 1;
    top: 66%;
    bottom: auto;
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #ab0d25;
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    transition: border-color 0.8s;
}
.cd-timeline-navigation a::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
    right: 0;
}
.cd-timeline-navigation a.inactive {
    cursor: not-allowed;
    border: 2px solid lightgrey !important;
    opacity: 0.5;
}
.cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px;
}
.horizontal-timeline ol,
.horizontal-timeline ul {
    list-style: none;
}
.horizontal-timeline a:link {
    text-decoration: none !important;
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 14px;
}
